In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm

from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.linear_model import LinearRegression

from warnings import filterwarnings
filterwarnings("ignore")

In [2]:
url = "https://bilkav.com/odev_tenis.csv"

df = pd.read_csv(url)
df

     outlook  temperature  humidity  windy play
0      sunny           85        85  False   no
1      sunny           80        90   True   no
2   overcast           83        86  False  yes
3      rainy           70        96  False  yes
4      rainy           68        80  False  yes
5      rainy           65        70   True   no
6   overcast           64        65   True  yes
7      sunny           72        95  False   no
8      sunny           69        70  False  yes
9      rainy           75        80  False  yes
10     sunny           75        70   True  yes
11  overcast           72        90   True  yes
12  overcast           81        75  False  yes
13     rainy           71        91   True   no

In [3]:
label_encoder = preprocessing.LabelEncoder()

columns = ["windy","play"]

for col in columns:
    df[col] = label_encoder.fit_transform(df[col])
    
df.head()

    outlook  temperature  humidity  windy  play
0     sunny           85        85      0     0
1     sunny           80        90      1     0
2  overcast           83        86      0     1
3     rainy           70        96      0     1
4     rainy           68        80      0     1

In [4]:
dms = pd.get_dummies(df["outlook"])
dms.head()

   overcast  rainy  sunny
0         0      0      1
1         0      0      1
2         1      0      0
3         0      1      0
4         0      1      0

In [5]:
df.drop(["outlook"], axis=1, inplace=True)
df.head()

   temperature  humidity  windy  play
0           85        85      0     0
1           80        90      1     0
2           83        86      0     1
3           70        96      0     1
4           68        80      0     1

In [6]:
df = pd.concat([dms, df], axis=1)
df.head()

   overcast  rainy  sunny  temperature  humidity  windy  play
0         0      0      1           85        85      0     0
1         0      0      1           80        90      1     0
2         1      0      0           83        86      0     1
3         0      1      0           70        96      0     1
4         0      1      0           68        80      0     1

In [7]:
X = df.drop(["play"], axis=1)
y = df[["play"]]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

In [8]:
model = LinearRegression().fit(X_train, y_train)
y_pred = model.predict(X_test)

print(
    "MSE >>>", mean_squared_error(y_pred, y_test), "\n"
    "R²  >>>", r2_score(y_pred, y_test),
)

MSE >>> 0.14946437379855324
R²  >>> -2.7634149688383376

In [9]:
X = np.append(arr = np.ones(14).astype(int), values = X.iloc[:,:])

X_l = df.iloc[:,[0,1,2,3,4,5]].values
X_l = np.array(X_l, dtype=float)

model = sm.OLS(y, X_l).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   play   R-squared:                       0.483
Model:                            OLS   Adj. R-squared:                  0.160
Method:                 Least Squares   F-statistic:                     1.493
Date:                Sun, 25 Apr 2021   Prob (F-statistic):              0.292
Time:                        06:29:00   Log-Likelihood:                -4.9501
No. Observations:                  14   AIC:                             21.90
Df Residuals:                       8   BIC:                             25.73
Df Model:                           5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1             3.4007      1.859      1.829      0.105      -0.887       7.688
x2             2.9474      1.754      1.680      0.131      -1.098       6.993
x3             2.8194      1.878      1.501      0.172      -1.512       7.151
x4            -0.0143      0.025     -0.569      0.585      -0.072       0.044
x5            -0.0142      0.014     -1.031      0.333      -0.046       0.018
x6            -0.4108      0.268     -1.533      0.164      -1.029       0.207
==============================================================================
Omnibus:                        0.118   Durbin-Watson:                   1.317
Prob(Omnibus):                  0.943   Jarque-Bera (JB):                0.340
Skew:                           0.035   Prob(JB):                        0.844
Kurtosis:                       2.240   Cond. No.                     2.86e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.86e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [10]:
X_l = df.iloc[:,[0,1,2,4,5]].values
X_l = np.array(X_l, dtype=float)

model = sm.OLS(y, X_l).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   play   R-squared:                       0.462
Model:                            OLS   Adj. R-squared:                  0.223
Method:                 Least Squares   F-statistic:                     1.931
Date:                Sun, 25 Apr 2021   Prob (F-statistic):              0.189
Time:                        06:29:00   Log-Likelihood:                -5.2280
No. Observations:                  14   AIC:                             20.46
Df Residuals:                       9   BIC:                             23.65
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1             2.5317      1.021      2.480      0.035       0.222       4.841
x2             2.1712      1.062      2.045      0.071      -0.231       4.573
x3             1.9472      1.045      1.863      0.095      -0.417       4.311
x4            -0.0171      0.012     -1.399      0.195      -0.045       0.011
x5            -0.3586      0.242     -1.481      0.173      -0.906       0.189
==============================================================================
Omnibus:                        0.557   Durbin-Watson:                   1.461
Prob(Omnibus):                  0.757   Jarque-Bera (JB):                0.554
Skew:                          -0.005   Prob(JB):                        0.758
Kurtosis:                       2.025   Cond. No.                     1.25e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.25e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [11]:
X_l = df.iloc[:,[0,1,2,5]].values
X_l = np.array(X_l, dtype=float)

model = sm.OLS(y, X_l).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   play   R-squared:                       0.345
Model:                            OLS   Adj. R-squared:                  0.148
Method:                 Least Squares   F-statistic:                     1.754
Date:                Sun, 25 Apr 2021   Prob (F-statistic):              0.219
Time:                        06:29:00   Log-Likelihood:                -6.6049
No. Observations:                  14   AIC:                             21.21
Df Residuals:                      10   BIC:                             23.77
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1             1.1471      0.261      4.395      0.001       0.565       1.729
x2             0.7176      0.228      3.146      0.010       0.209       1.226
x3             0.5176      0.228      2.269      0.047       0.009       1.026
x4            -0.2941      0.249     -1.182      0.265      -0.849       0.260
==============================================================================
Omnibus:                        0.739   Durbin-Watson:                   1.608
Prob(Omnibus):                  0.691   Jarque-Bera (JB):                0.678
Skew:                           0.254   Prob(JB):                        0.712
Kurtosis:                       2.049   Cond. No.                         2.25
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [12]:
X = df.drop(["temperature","humidity","play"], axis=1)
y = df[["play"]]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [13]:
model = LinearRegression().fit(X_train, y_train)
y_pred = model.predict(X_test)

print(
    "MSE >>>", mean_squared_error(y_pred, y_test), "\n"
    "R²  >>>", r2_score(y_pred, y_test),
)

MSE >>> 0.2037760416666667
R²  >>> -3.3271889400921673